<div id="wrapper" *ngIf="showMyMessage3">
  <div id="featured-wrapper">
    <div id="featured" class="extra2 margin-btm container">
      <div class="main-title">
        <h2>Fun Fic Table</h2>
        <span class="byline"></span></div>
      <table>
        <th>
          <ul *ngIf="funFicList">
            <li
              *ngFor="let funFiction of funFicList | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalLength }">

              <div class="ebox1"><span class="fa fa-pagelines"></span>
                <div class="title">
                  <h2>Name: {{funFiction.nameFun}}</h2>
                  <div *ngFor="let tags of funFiction.tags">
                    <span class="byline">Tags: {{tags.typeTags}}</span></div>
                </div>
                <p>Description: {{funFiction.shortDescription}}</p>
                <p>Genre: {{funFiction.genre}}</p>
                <a (click)="getIdChapter(funFiction.id)" class="button">Read Chapter</a></div>
            </li>
          </ul>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </th>
      </table>
    </div>
  </div>
</div>


<div *ngIf="showMyMessage5">
  <ul *ngIf="chapterList">
    <li *ngFor="let chapter of chapterList">
      <div id="featured-wrapper1">
        <section class="blog_area single-post-area section-padding mySetting">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 posts-list">
                <div class="single-post">
                  <div class="blog_details">
                    <h2>
                      Chapter №{{chapter.numberChapter}}
                    </h2>

                    <h2>{{chapter.nameChapter}}
                    </h2>
                    <ul class="blog-info-link mt-3 mb-4">
                      <li><i class="fa fa-user"></i>Amount likes: {{chapter.like}}<a class="fa fa-user"
                                                                                     (click)="addLikes(chapter.id)">add
                        like</a></li>
                      <li><i class="fa fa-comments"></i>Rating: {{chapter.rating.toFixed(2) }}<a class="fa fa-user" (click)="addRating(chapter.id)">Add rating:</a>
                        <span class="custom-dropdown big">
                          <form [formGroup]="form">
                          <select formControlName="rating">
                            <option [ngValue]="1">1</option>
                            <option [ngValue]="2">2</option>
                            <option [ngValue]="3">3</option>
                            <option [ngValue]="4">4</option>
                            <option [ngValue]="5">5</option>
                          </select>
                          </form>
                        </span></li>




                    </ul>
                    <ul class="blog-info-link mt-3 mb-4">
                    </ul>
                    <p class="excert">
                      {{chapter.textChapter}}
                    </p>
                  </div>
                </div>
                <div class="comments-area">
                  <div class="blog_details">
                    <button type="submit" class="button25" (click)="pushMyFavorite(chapter.id)" id="clickAddChapter">
                      Add my favorite
                    </button>
                  </div>
                  <div *ngIf="showComments">
                    <h4>Comments </h4>
                    <div *ngFor="let commentRequestDtos of chapter.commentDto">
                      <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                          <div class="user justify-content-between d-flex">
                            <div class="thumb">

                            </div>
                            <div class="desc">
                              <p class="comment">
                                {{commentRequestDtos.textComment.toString()}}
                              </p>
                              <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                  <h5>
                                    <a>{{commentRequestDtos.nameUser}} {{commentRequestDtos.surnameUser}}</a>
                                  </h5>
                                  <p class="date">{{commentRequestDtos.created}}</p>
                                </div>
                                <div class="reply-btn">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="showComments">
                  <div class="comment-form">
                    <h4>Comments</h4>
                    <form class="form-contact comment_form" id="commentForm" #commentForm="ngForm"
                          [formGroup]="addFormComments"
                          (ngSubmit)="onCommentPush(commentForm, chapter.id)">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                              <textarea class="form-control w-100" ngModel name="textComments" id="textComments"
                                        cols="30" rows="9"
                                        placeholder="Write Comment" formControlName="textComments"></textarea>
                            <span
                              *ngIf="addFormComments.get('textComments')?.invalid && addFormComments.get('textComments')?.touched"
                              class="error"><h1>textComments is not valid</h1></span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input class="form-control" ngModel name="email" id="email" type="text" placeholder="Email"
                                   formControlName="email">
                            <span *ngIf="addFormComments.get('email')?.invalid && addFormComments.get('email')?.touched"
                                  class="error"><h1>email is not valid</h1></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <button type="submit" [disabled]="commentForm.invalid"
                                class="button button-contactForm btn_1 boxed-btn" id="clickMessage">Send Message
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </li>
  </ul>
</div>
