<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />


</head>
<body>
<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <h1><span class="fa fa-bolt"></span><a>Fun fic project</a></h1>
    </div>
    <div id="menu">
      <ul>
        <li class="current_page_item"><a (click)="showMessageSoon2()" accesskey="1" title="">Home</a></li>
        <li><a (click)="showMessageSoon()" accesskey="2" title="">Sing in</a></li>
        <li><a (click)="showMessageSoon1()" accesskey="3" title="">Sing up</a></li>
        <li><a (click)="showMessageSoon6()" accesskey="5" title="">setting</a></li>
        <div *ngIf="showMyMessage4">
        <li><a href="#" accesskey="4" title="">out</a></li>

        <li><a href="#" accesskey="5" title="">add fun fic</a></li>
        </div>
      </ul>
    </div>
  </div>
</div>
<div id="header-featured">
  <div id="banner-wrapper">
    <div id="banner" class="container">
      <h2>Welcome to fun fic project</h2>
        </div>
  </div>
</div>
<!--
для таблицы fun fic
-->
<div *ngIf="showMyMessage3">
<app-fun-fic-table></app-fun-fic-table>
</div>
<!--
для формы логина
-->
<div *ngIf="showMyMessage">
<app-login (onShowElementIn)="showMessageSoon7()"></app-login>
</div>
<!--
для формы регистрации
-->
<div *ngIf="showMyMessage1">
<app-registration (onShowElementUn)="showMessageSoon7()"></app-registration>
</div>
<!--
форма лист chapter
-->
<app-chapter></app-chapter>
<!--
форма персональных данных setting
-->
<div *ngIf="showMyMessage6">
<app-user [user]="user1"></app-user>
</div>

<div id="copyright" class="container">
  <p>&copy; Minsk fun fic project </p>
</div>
</body>
</html>
