.ptb-80 {
  padding: 50px 0;
}

@media (min-width: 768px) {
  .container {
    width: 750px
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px
  }
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .container {
    width: 970px;
  }
}

.container:before, .container:after, .container-fluid:before, .container-fluid:after {
  content: " ";
  display: table
}

.container:after, .container-fluid:after {
  clear: both
}

.container {
  width: 1200px
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 300px
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px
}

.row:before, .row:after {
  content: " ";
  display: table
}

.row:after {
  clear: both
}

.col-md-3 {
  width: 25%
}

@media (min-width: 992px) {
  .col-md-3 {
    float: left
  }
}

.col-md-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 768px) {
  .col-sm-4 {
    float: left
  }
}

.col-sm-4 {
  width: 33.33333333%
}

.col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

.col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

.col-xs-12 {
  float: left
}

.col-xs-12 {
  width: 100%
}

.idea-tab-menu {
  margin-bottom: 30px;
}

.nav:before, .nav:after {
  content: " ";
  display: table
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none
}

.nav > li {
  position: relative;
  display: block
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #eee
}

.nav > li.disabled > a {
  color: #777
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7
}

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5
}

.nav > li > a > img {
  max-width: none
}

.nav:after {
  clear: both
}

.col-md-9 {
  width: 75%
}

@media (min-width: 992px) {
  .col-md-9 {
    float: left
  }
}

.col-sm-8 {
  width: 66.66666667%
}

@media (min-width: 768px) {
  .col-sm-8 {
    float: left
  }
}

.tab-content > .tab-pane {
  display: none
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear
}

.fade.in {
  opacity: 1
}

@media (min-width: 992px) {
  .col-md-6 {
    float: left
  }
}

.col-md-6 {
  width: 50%
}

.col-sm-6 {
  width: 50%
}

@media (min-width: 768px) {
  .col-sm-6 {
    float: left
  }
}

.col-md-12 {
  width: 100%
}

@media (min-width: 992px) {
  .col-md-12 {
    float: left
  }
}

@media (min-width: 768px) {

  .col-sm-12 {
    float: left
  }
}

.col-sm-12 {
  width: 100%
}

.text-right {
  text-align: right
}

a.btn-def:hover, a.btn-def.btn-white:hover, a.btn-def.btn2:hover {
  background: #cc3333 none repeat scroll 0 0;
  border-color: #cc3333;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd
  }
}

.table-responsive > .table {
  margin-bottom: 0
}

.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
  white-space: nowrap
}

.table-responsive > .table-bordered {
  border: 0
}

.table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0
}

.table-responsive > .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0
}

.table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > th, .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > td {
  border-bottom: 0
}



.text-center {
  text-align: center
}

.cart_item.check-heading {
  border-top: 1px solid #ccc
}
#featured-wrapper1
{
  overflow: hidden;
  padding: 0em 0em;
  background: #FFF;
  text-align: center;
}
 .icon-title {
  margin-top: 30px;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  color: #1F2A37;
  font-weight: 600;
  margin-bottom: 0px;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-size: 18px;
  padding-bottom: 20px;
}
.icon-title a {
  color: #1F2A37
}

.icon-title a:hover {
  color: #94da46
}

 .icon-title:before {
  content: '';
  background-color: rgba(31, 42, 55, 0.3);
  position: absolute;
  width: 27px;
  height: 1px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}
.button {
   display: inline-block;
   padding: 1.5em 3em;
   background: #8dc63f;
   -moz-transition: opacity 0.25s ease-in-out;
   -webkit-transition: opacity 0.25s ease-in-out;
   -o-transition: opacity 0.25s ease-in-out;
   -ms-transition: opacity 0.25s ease-in-out;
   transition: opacity 0.25s ease-in-out;
   letter-spacing: 0.20em;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 600;
   color: #FFF;
 }

.button:hover
{
  background: #86bd3b;
}

.button:active
{
}









/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row23:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.ss{
  color: red;
}
