#featured-wrapper1
{
  overflow: hidden;
  padding: 0em 0em;
  background: #FFF;
  margin-bottom: 50px;
}

.site-wrap:before {
  display: none;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden
}

.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2
}

.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 250px)
}

@media (max-width: 991.98px) {
  .main-content {
    width: 100%;
    position: relative;
    float: none
  }
}

.main-content .container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0
}

@media (max-width: 991.98px) {
  .main-content .container-fluid {
    padding-left: 15px;
    padding-right: 15px
  }
}

.main-content .photos .photo-item {
  position: relative
}

.main-content .photos .photo-item:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden
}

.main-content .photos .photo-item .photo-text-more {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 30px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 0;
  visibility: hidden;
  text-align: center
}

.main-content .photos .photo-item .photo-text-more .icon {
  color: #fff;
  font-size: 20px
}

.main-content .photos .photo-item .photo-text-more .heading {
  font-size: 16px;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase
}

.main-content .photos .photo-item .photo-text-more .meta {
  color: #cccccc;
  text-transform: uppercase;
  font-size: 12px
}

.main-content .photos .photo-item img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 300px;
  margin-bottom: 5px
}

@media (max-width: 575.98px) {
  .main-content .photos .photo-item img {
    height: 200px
  }
}

.main-content .photos .photo-item:hover:after {
  opacity: 1;
  visibility: visible
}

.main-content .photos .photo-item:hover .photo-text-more {
  margin-top: 0;
  opacity: 1;
  visibility: visible
}

.site-section {
  padding: 7em 0
}

.site-section.darken-bg {
  background: #1a1a1a;
  position: relative
}

.site-section.darken-bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 4px;
  background: #df0e62
}

.site-section .heading {
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 1em
}

@media (max-width: 991.98px) {
  .site-section .heading {
    font-size: 2.5rem
  }
}

.site-section {
  padding: 7em 0
}

.site-section.darken-bg {
  background: #1a1a1a;
  position: relative
}

.site-section.darken-bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 4px;
  background: #df0e62
}

.site-section .heading {
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 1em
}

@media (max-width: 991.98px) {
  .site-section .heading {
    font-size: 2.5rem
  }
}

.site-section {
  padding: 2.5em 0
}

@media (min-width: 768px) {
  .site-section {
    padding: 5em 0
  }
}

.site-section.site-section-sm {
  padding: 4em 0
}

.container {
  width: 100%;
  padding-right: 2.5px;
  padding-left: 2.5px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container {
  min-width: 992px !important;
}

.container {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container {
  min-width: 992px !important
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -2.5px;
  margin-left: -2.5px
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -2.5px;
  margin-left: -2.5px;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}
.col-md-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}  .col-md-8 {
     -webkit-box-flex: 0;
     -ms-flex: 0 0 66.66667%;
     flex: 0 0 66.66667%;
     max-width: 66.66667%;
   }
.col-md-8{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 2.5px;
  padding-left: 2.5px;
}
.col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 2.5px;
  padding-left: 2.5px
}
.col-md-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%
}
.text-white {
  color: #fff !important
}

.text-white {
  color: #fff !important;
}
.mb-5, .my-5 {
  margin-bottom: 3rem !important
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.form-group {
  margin-bottom: 1rem
}

.form-group {
  margin-bottom: 1rem;
}
.col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 2.5px;
  padding-left: 2.5px
}

.col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 2.5px;
  padding-left: 2.5px;
}
.col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%
}
.col-md-6{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.mb-md-0, .my-md-0 {
  margin-bottom: 0 !important
}
.mb-md-0,
.my-md-0 {
  margin-bottom: 0 !important;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}


.form-control {
  border: none;
  border-bottom: 2px solid gray;
  border-radius: 0;
  background: none;
  color: #fff;
  padding-left: 0;
  padding-right: 0
}

.form-control:active, .form-control:focus {
  color: #fff;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-color: #fff
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fad2cb;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(239, 108, 87, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(239, 108, 87, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}


@media screen and (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f676aa;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(223, 14, 98, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(223, 14, 98, 0.25)
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff
}


.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
}

.form-control-file, .form-control-range {
  display: block;
  width: 100%
}


.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}


select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

.col-md-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}


.col-md-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col-md-12
{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 2.5px;
  padding-left: 2.5px;
}
.col-md-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%
}
.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 2.5px;
  padding-left: 2.5px
}
.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}
select.form-control[size], select.form-control[multiple] {
  height: auto;
}

textarea.form-control {
  height: auto;
}

select.form-control[multiple], select.form-control[size] {
  height: auto
}

textarea.form-control {
  height: auto
}
